{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- intro picture -->
 <!-- intro picture -->
<div class="introPic1">
    <div class="centered1">
      <h1 class="h-primary">About Us.</h1>
      <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi iste voluptates sapiente dolor quia sit? Blanditiis quam sint optio ipsam similique dolores culpa perspiciatis voluptas, cumque autem sit nulla id! Lorem ipsum dolor sit.</h3>
    </div>
  </div>
  <!-- intro picture ends -->


    <!-- mission and vision starts -->
    <div class="blog_main_container">
        <div class="container-fluid">
          <div class="row">
            <h1 class="h-primary center">- Mission & Vision -</h1>
            <div class="col-12">
              <h2 class="h-secondary">Vision</h2>
              <p class="para">
                Lorem ipsum, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt dicta natus quo voluptas mollitia, voluptatum dignissimos amet accusantium tempora impedit modi consectetur veniam ducimus ullam dolor. Adipisci odio tempora eum corrupti? Totam blanditiis reiciendis optio velit voluptatum voluptatem. Aut, ipsa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti praesentium, dolore natus veniam deserunt necessitatibus saepe architecto? Magni eum molestiae at aliquid atque ex vel exercitationem quibusdam, facilis numquam accusamus! Facilis ex sed voluptatem veniam commodi cumque ratione eum aperiam.
              </p>
              <br>
              <h2 class="h-secondary">Mission</h2>
              <ul class="list">
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. At impedit dolor hic est modi enim nisi, temporibus sequi totam</li>
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis delectus nobis excepturi! Animi, ducimus. Veritatis</li>
                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui nostrum placeat, laboriosam quas quidem expedita est harum quaerat voluptate labore.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, accusamus consectetur! Eius odio assumenda, ipsum reprehenderit expedita hic quam est adipisci.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore id omnis aut sapiente accusantium, iusto assumenda beatae!</li>
              </ul>

            </div>
          </div>
        </div>
       </div>
    <!-- mission and vision ends -->

    <!-- our story section starts -->
    <section id="about-container">
        <h1 class="h-primary center">- Our Story -</h1>
        <div id="about">
            <div class="box">

                <div class="img1"><img src="{% static 'images/attachment1.jpeg' %}" alt=""></div>
                <div class="box-1" style="overflow: hidden;">
                    <h2 class="h-secondary center ">Our Product</h2>
                    <h4 class="h-secondary">- The Best A2 Milk of Hyderabad -</h4>
                    <p class="center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, culpa suscipit error
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et qui, repudiandae similique nam, recusandae quidem ab asperiores ex. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit eius nemo autem.</p>
                </div>
            </div>
            <div class="box">
                <div class="box-2" style="overflow: hidden;">
                    <h2 class="h-secondary center">Our Management</h2>
                    <h3 class="h-secondary">- Mr.Kartheek Thatikonda -</h3>
                    <p class="center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, culpa suscipit error
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et qui, repudiandae similique nam, recusandae quidem ab asperiores ex, aut fugit labore veritatis facere?</p>
                </div>
                <div class="img2"><img src="{% static 'images/kartheek.jpeg' %}" alt=""></div>
            </div>
        </div>
    </section>

    <!-- our story section ends -->

    <!-- location section -->
    <section id="client-section">
        <h1 class="h-primary center">- Our Top Deliveries -</h1>
        <div id="clients">
            <div class="client-item">
                <h2 class="h-secondary center">Uppal</h2>
            </div>
            <div class="client-item">
                <h2 class="h-secondary center">Secunderabad</h2>
            </div>
            <div class="client-item">
                <h2 class="h-secondary center">Kukatpally</h2>
            </div>
            <div class="client-item">
                <h2 class="h-secondary center">Manikonda   . . .</h2>
            </div>
        </div>
    </section>

{% endblock %}