{% extends 'base.html' %}
{% load static %}

{% block content %}


    <!-- intro picture -->
<div class="introPic1">
    <div class="centered1">
      <h1 class="h-primary">Our Services.</h1>
      <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi iste voluptates sapiente dolor quia sit? Blanditiis quam sint optio ipsam similique dolores culpa perspiciatis voluptas, cumque autem sit nulla id!</h3>
      <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut mollitia ratione nihil eius, dolorem ad. Vero nulla numquam, ipsam culpa a maiores perspiciatis molestias.</h3>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae quasi excepturi fugiat? Omnis quod eligendi quasi quidem recusandae expedita quaerat perspiciatis repellendus. Architecto molestias cumque, consequatur perferendis commodi vero adipisci!</h4>
    </div>
  </div>
  <!-- intro picture ends -->


    <!-- mission and vision starts -->
    <div class="blog_main_container">
        <div class="container-fluid">
          <div class="row">
            <h1 class="h-primary center">- We provide -</h1>
              <p class="center">
                Lorem ipsum, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt dicta natus quo voluptas mollitia, voluptatum dignissimos amet accusantium tempora impedit modi consectetur veniam ducimus ullam dolor. Adipisci odio tempora eum corrupti? Totam blanditiis reiciendis optio velit voluptatum voluptatem. Aut, ipsa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti praesentium, dolore natus veniam deserunt necessitatibus saepe architecto? Magni eum molestiae at aliquid atque ex vel exercitationem quibusdam, facilis numquam accusamus! Facilis ex sed voluptatem veniam commodi cumque ratione eum aperiam.
              </p>
          </div>
        </div>
       </div>
    <!-- mission and vision ends -->

    <!-- our story section starts -->
    <section id="about-container">
        <h1 class="h-primary center">- Our Services -</h1>
        <div id="about">
            <div class="box">
                <div class="img1"><img src="img/attachment1.jpeg" alt=""></div>
                <div class="box-1" style="overflow: hidden;">
                    <h2 class="h-secondary center ">Packed best</h2>
                    <p class="center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, culpa suscipit error
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et qui, repudiandae similique nam, recusandae quidem ab asperiores ex. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit eius nemo autem.</p>
                </div>
            </div>
            <div class="box">
                <div class="box-2" style="overflow: hidden;">
                    <h2 class="h-secondary center">Unique QR Code</h2>
                    <p class="center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, culpa suscipit error
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et qui, repudiandae similique nam, recusandae quidem ab asperiores ex, aut fugit labore veritatis facere?</p>
                </div>
                <div class="img2"><img src="img/attachment2.jpg" alt=""></div>
            </div>
        </div>
    </section>
    <!-- our story section ends -->

    <!-- qr code card starts -->

    <h1 class="h-primary center">- Know the following from the QR code -</h1>

    <div class="card">
        <img src="img/Gir-cow.jpg.jpeg">
        <div>
            <i>Lorem Ipsum Dolor</i>
            <br> <br>
            <h4>Farmer: Lorem ipsum dolor</h4>
            <h4>Number: 3940985475</h4>
            <h4>Location: Lorem-233, ipsum</h4>
            <h4>Type: Milk containers</h4>
            <h4>Date: 02-04-2023</h4>
        </div>
    </div>

    <!-- qr code card ends -->

    <!-- location section -->
    <section id="client-section">
        <h1 class="h-primary center">- Our Top Deliveries -</h1>
        <div id="clients">
            <div class="client-item">
                <h2 class="h-secondary center">Uppal</h2>
            </div>
            <div class="client-item">
                <h2 class="h-secondary center">Secunderabad</h2>
            </div>
            <div class="client-item">
                <h2 class="h-secondary center">Kukatpally</h2>
            </div>
            <div class="client-item">
                <h2 class="h-secondary center">Manikonda   . . .</h2>
            </div>
        </div>
    </section>

{% endblock %}